@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&amp;display=swap");
@import url("https://cdn.tailwindcss.com");

body {
  background: #212529;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  width: 100vw;
  overflow-x: hidden;
}

#track,
#track-skel,
#btime {
  padding: 24px 0px;
  margin: 15px 0px;
  border-radius: 15px;
  min-width: min(600px, 100vw);
}

#track > li,
#track-skel > li {
  border: #555 solid 1px;
  padding: 10px;
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  flex-wrap: wrap;
}

#track > li::marker,
#track-skel > li::marker {
  content: none;
}

.progress-bar-container {
  max-height: 300px;
  max-width: 300px;
  height: 85vw;
  width: 85vw;
  margin: 21px;
}
.progress-bar {
  background: radial-gradient(closest-side, #212529 92%, transparent 80% 100%),
    conic-gradient(rgb(255, 255, 255) calc(var(--prog) * 1%), grey 0);
  width: 100%;
  height: 100%;
  border-radius: 50%;

  /* to center the percentage value */
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

li.active {
  outline: white 1px solid;
}

#devinfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#devinfo > div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

table {
  border-collapse: collapse;
  width: 800px;
}

table > tr:nth-child(odd) {
  background-color: #333;
}

td,
th {
  text-align: center;
  padding: 8px;
  border: #555 solid 1px;
}

td {
  font-size: 0.7em;
  color: #ffffffaa;
}

.px40 {
  width: 40px;
  height: 19px;
  background-color: grey;
  border-radius: 25px;
}

.dropdown-parent {
  width: 100vw;
}
.dropdown {
  border-top: #555 solid 1px;
  border-bottom: #555 solid 1px;

  width: -webkit-fill-available;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

p.dropdown::before {
  font-family: "Material Symbols Outlined";
  margin-right: 10px;
  content: "\e5cc";
}

p.dropdown.active::before {
  content: "\e5cf";
}

#table > div {
  max-width: 100%;
  overflow-x: scroll;
  padding: 30px 0;
}

h2 {
  text-align: center;
}
h2 > select {
  font-size: 1em;
  color: #d84;
  border: none;
  background-color: transparent;
}

.rangeout {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
}
.rangein {
  width: 1px;
  height: 100%;
  background-color: #d84;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-wrap: balance;
  margin: 0 5px;
  border-radius: 25px;
  font-size: 13px;
}
