body {
  background: #212529;
  color: white;
  font-family: "Roboto", sans-serif;
}
/* header */
header {
  display: flex;
  overflow: hidden;
  justify-items: center;
  padding: min(8vw, 59px);
  align-items: center;
}

header > img {
  border-radius: 100%;
  width: 40vw;
  min-width: 100px;
  max-width: 10pc;
  height: auto;
}

header > div > h2 {
  font-size: min(3vh, 44px);
  margin: 0px 10px;
}

header > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body > header > div > h2 > span {
  background-color: #00aaff;
  border-radius: 15px;
  padding: 0px 5px;
  font-size: 2vh;
  margin: 0px 10px;
}
/* info */
info {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

info > span:nth-child(1) {
  color: #999999;
  font-size: min(max(24px, 19vw), 23px);
}
info > span:nth-child(2) {
  font-size: min(14px, 15px);
}
info > span:nth-child(1)::after {
  content: ": ";
}

/* Socal-Links */
body > header > div > div > img {
  filter: grayscale() invert() brightness(2);
  width: min(16px, 10vw);
  padding: 4px;
  transition: 0.5s;
}

body > header > div > div > img:hover {
  filter: none;
  transition: 0.5s;
}

/* Description */
description {
    display: flex;
    flex-wrap: wrap;
}

description > links, description > about {
  margin: 10px;
  min-width: min(340px, 90vw);
  box-shadow: 0px 0px 4px black;
  display: block;
  border-radius: 5px;
  background: #111;
  height: fit-content;
}

links > h3 {
  display: flex;
  align-items: center;
}

links > h3::before {
  content: "\e157";
  font-family: "Material Symbols Outlined";
  padding: 5px;
}

links > div {
  display: flex;
  align-items: center;
  margin: 5px;
}

links > div:hover {
  background: #333;
  cursor: pointer;
}

links > div > img {
  width: 32px;
  margin: 12px;
  box-shadow: white 0px 0px 12px;
  background: white;
}

links > div > span {
  color: white;
  text-decoration: underline dashed 1px orange;
}


about > h3 {
  display: flex;
  align-items: center;
}

about > h3::before {
  content: "\e853";
  font-family: "Material Symbols Outlined";
  padding: 5px;
}

about > p {
  margin: 5px;
  padding: 12px;
}

about > ul > li::marker {
  content: ""
}
about > ul > li {
  display: flex;
  align-items: center;
}
about > ul {
  padding: 12px;
}

.span-g{
  color: #999999;
}

footer {
  background: #111;
  position: fixed;
  width: 100vw;
  left: 0px;
  bottom: 0;
}