html {
  scroll-behavior: smooth;
}

a {
  color: #aaa;
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  background: linear-gradient(90deg, #b3fffd 0, #e3e6ff 50%, #fde5f5 100%);
  font-family: system-ui;
  overflow-x: hidden;
}

f {
  font-size: 1.5rem;
}
.prof {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.prof > bg {
  position: absolute;
  filter: blur(5px);
  background-image: url("./assets/Background.png");
  width: 100vw;
  height: 100vh;
  /* min-height: min(494px, 50vw); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: -255;
}

.prof > fg {
  display: flex;
  justify-content: center;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

@keyframes slide {
  from {
    top: -600px;
  }

  to {
    top: 0px;
  }
}
.prof > fg > img {
  width: 300px;
  animation-name: slide;
  animation-duration: 1s;
  position: relative;
}

.prof > div {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 3;
  display: flex;
  align-items: center;
  font-size: 100px;
  flex-direction: column;
  justify-content: center;
}

#socals > a > img {
  width: 20px;
  padding: 4px;
  margin: 4px;
  transition: 0.5s;
  background-color: #fff;
  border-radius: 100px;
}
#socals,
#socals > a {
  display: flex;
  justify-content: center;
}

#hotlinks {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hotlinks > a::after {
  content: "\e5cf";
  font-family: Material Symbols Outlined;
}

#aboutus,
#mem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#aboutus > h1,
#mem > h1 {
  text-align: center;
  width: 100vw;
  font-size: 4pc;
  color: #444466;
  background: linear-gradient(-80deg, #ff60c6, transparent);
}
cont {
  margin: 10px;
  width: 75%;
  box-shadow: 0px 0px 4px black;
  display: flex;
  border-radius: 5px;
  background: #ffffff;
  height: fit-content;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

cont > h3 {
  display: flex;
  align-items: center;
}

.bigq {
  font-size: 35px;
  font-family: fantasy;
}

.charSelect > button {
  font-size: larger;
  margin: 10px;
  padding: 10px;
  background: none;
  border-radius: 100px;
}

.charSelectContainer {
  width: 100vw;
  padding: 10px;
  padding-left: 120px;
  margin: 10px 0px;
  background-color: #1111117d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.charSelectContainer > div > div {
  padding: 10px;
  margin: 10px;
  background-color: white;
  width: min(400px, 90vw);
  border-radius: 25px;
}
.charSelectContainer > div:nth-child(2) > img {
  width: 300px;
  margin: 20px;
}

.charSelectContainer > div:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .prof > fg > img {
    width: 100vw;
  }
  #socals > img {
    width: 7vw;
  }
  .charSelectContainer {
    padding: 0px;
  }
  .charSelectContainer > div > div {
    margin: 10px 0;
  }
}

.selected {
  background-color: white !important;
}
.title {
  text-align: center;
  width: 100%;
}
footer {
  background: #b3fffd;
  padding: 10px 130px;
}
