@import url("/skeli.css");

body {
  background: #000;
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-size: 2em;
  text-align: center;
}

/* Track */
#track,
#btime {
  width: inherit;
  padding: 24px 0px;
  margin: 15px 0px;
  border-radius: 15px;
  margin-bottom: 100px;
}

#track > li {
  border: #555 solid 1px;
  padding: 10px;
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}

#track > li::marker {
  content: none;
}

.active {
  outline: white 1px solid;
}

/* Prog Bat */
.progress-bar-container {
  height: 100vw;
  width: 100vw;
}

.progress-bar {
  background: radial-gradient(closest-side, #000 95%, transparent 80% 100%),
    conic-gradient(rgb(255, 255, 255) calc(var(--prog) * 1%), grey 0);
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  justify-content: center;
}
.progress-bar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#track,
#btime {
  padding: 24px 0px;
  margin: 15px 0px;
  border-radius: 15px;
  min-width: min(600px, 100vw);
}
#track > li {
  border: #555 solid 1px;
  padding: 10px;
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  flex-wrap: wrap;
}

#track > li::marker {
  content: none;
}

.rangeout {
  width: 100%;
  height: 40px;
  display: flex;
}
.rangein {
  width: 40px;
  height: 100%;
  background-color: #d84;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-wrap: balance;
  margin: 0 5px;
  border-radius: 25px;
}
